<footer id="footer">
	<div class="footer-link-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">About us</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/about.asp">About ITC</a></li>
						<li><a href="https://www.itcreations.com/manufacturers.asp">Partners and Vendors</a></li>
						<li><a href="https://www.itcreations.com/warranty-information.asp">Extended Warranties</a></li>
						<li><a href="https://www.itcreations.com/testimonials.asp">Customer Reviews</a></li>
						<li><a href="https://www.itcreations.com/news">Newsroom</a></li>
						<li><a target="_blank" href="https://blog.itcreations.com/" rel="noopener">Blog-Talking Tech</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">Support</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/support.asp">Customer Support</a></li>
						<li><a href="http://help.itcreations.com/">FAQs & Support Tickets</a></li>
						<li><a href="https://www.itcreations.com/return-policy.asp">Return Policy</a></li>
						<li><a href="https://www.itcreations.com/rma-form.asp">RMA Request Form</a></li>
						<li><a href="https://www.itcreations.com/mission-critical-services.asp">Mission Critical</a></li>
						<li><a href="https://www.itcreations.com/contact.asp">Contact IT Creations</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">Servers</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/dell/Dell-Servers.asp">Dell Servers</a></li>
						<li><a href="https://www.itcreations.com/hp/HPE-Servers.asp">HPE Servers</a></li>
						<li><a href="https://www.itcreations.com/lenovo/Lenovo-Servers.asp">Lenovo Servers</a></li>
						<li><a href="https://www.itcreations.com/ibm/IBM-Servers.asp">IBM Servers</a></li>
						<li><a href="https://www.itcreations.com/fujitsu/Fujitsu-Servers.asp">Fujitsu Servers</a></li>
						<li><a href="https://www.itcreations.com/cisco/Cisco-Servers.asp">CISCO Servers</a></li>
						<li><a href="https://www.itcreations.com/supermicro/Supermicro-Servers.asp">Supermicro Servers</a></li>
						<li><a href="https://www.itcreations.com/tyan/Tyan-Servers.asp"> Tyan Servers</a></li>
						<li><a href="https://www.itcreations.com/gigabyte/Gigabyte-Servers.asp"> Gigabyte Servers</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">Workstations</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/dell/Dell-Workstations.asp">Dell Workstations</a></li>
						<li><a href="https://www.itcreations.com/workstation-dell/DELL-AVID-CERTIFIED-WORKSTATIONS.html">Dell AVID certified</a></li>
						<li><a href="https://www.itcreations.com/hp/HP-Workstations.asp">HP Workstations</a></li>
						<li><a href="https://www.itcreations.com/workstation-hp/HP-AVID-CERTIFIED-WORKSTATIONS.html">HP AVID certified</a></li>
						<li><a href="https://www.itcreations.com/lenovo/Lenovo-Workstations.asp">Lenovo Workstations</a></li>
						<li><a href="https://www.itcreations.com/supermicro/Supermicro-Workstations.asp">Supermicro Workstations</a></li>
						<li><a href="https://www.itcreations.com/tyan/Tyan-Workstations.asp">Tyan Workstations</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">Storage</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/dell/Dell-Storage.asp">Dell Storage</a></li>
						<li><a href="https://www.itcreations.com/hp/HPE-Storage.asp">HPE Storage</a></li>
					</ul>
					<div class="title custom">Custom Integration</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/amd/amd-custom-integrator.asp">AMD Custom Integrator</a></li>
						<li><a href="https://www.itcreations.com/intel/intel-custom-integrator.asp">Intel Custom Integrator</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6">
					<div class="title">GPUs</div>
					<ul class="menu">
						<li><a href="https://www.itcreations.com/nvidia-gpu/nvidia-gpus-and-accelerators.asp">NVIDIA GPUs</a></li>
						<li><a href="https://www.itcreations.com/amd-gpu/amd-gpus-and-accelerators.asp">AMD GPUs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-middle-sect">
		<div class="container">
			<div class="middle-sect-column subscribe-col">
				<span class="middle-sect-title">For news and discounts</span>
				<form class="form-subscribe" action="//itcreations.us9.list-manage.com/subscribe/post?u=1e33c72dc51b480e28237ca2c&amp;id=39bbff282d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					<input class="subscribe-input" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address" required>
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_1e33c72dc51b480e28237ca2c_39bbff282d" tabindex="-1" value=""></div>
					<input class="bg-orange hvr-glow subscribe-submit" type="submit" value="OK" id="mc-embedded-subscribe">
				</form>
			</div>
			<div class="middle-sect-column search-col">
				<span class="middle-sect-title">Search</span>
				<form class="form-footer-search" action="{{ SECURE_SERVER }}catalog.asp" method="get">
					<input class="search-input" type="text" name="s_s" placeholder="Type keyword">
					<input class="search-submit" type="submit" value="">
					<button class="search-submit" type="submit">
						<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g opacity="0.5">
								<path d="M11.3127 20.4455C15.731 20.4455 19.3127 16.7224 19.3127 12.1298C19.3127 7.53707 15.731 3.81396 11.3127 3.81396C6.89447 3.81396 3.31274 7.53707 3.31274 12.1298C3.31274 16.7224 6.89447 20.4455 11.3127 20.4455Z" stroke="#5B6B70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M21.3127 22.5245L16.9627 18.0028" stroke="#5B6B70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
						</svg>
					</button>
				</form>
			</div>
			<div class="middle-sect-column social">
				<a href="https://www.facebook.com/ITCreationsInc" title="Follow IT Creations @Facebook" rel="nofollow noopener noreferrer" target="_blank"><svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 1H9C7.67392 1 6.40215 1.52678 5.46447 2.46447C4.52678 3.40215 4 4.67392 4 6V9H1V13H4V21H8V13H11L12 9H8V6C8 5.73478 8.10536 5.48043 8.29289 5.29289C8.48043 5.10536 8.73478 5 9 5H12V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</a>
				<a href="https://twitter.com/IT_Creations" title="Follow IT Creations @Twitter" rel="nofollow noopener noreferrer" target="_blank"><svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 2.00005C22.0424 2.67552 20.9821 3.19216 19.86 3.53005C19.2577 2.83756 18.4573 2.34674 17.567 2.12397C16.6767 1.90121 15.7395 1.95724 14.8821 2.2845C14.0247 2.61176 13.2884 3.19445 12.773 3.95376C12.2575 4.71308 11.9877 5.61238 12 6.53005V7.53005C10.2426 7.57561 8.50127 7.18586 6.93101 6.39549C5.36074 5.60513 4.01032 4.43868 3 3.00005C3 3.00005 -1 12 8 16C5.94053 17.398 3.48716 18.099 1 18C10 23 21 18 21 6.50005C20.9991 6.2215 20.9723 5.94364 20.92 5.67005C21.9406 4.66354 22.6608 3.39276 23 2.00005V2.00005Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</a>
				<a href="https://www.youtube.com/user/ITCreationsTV?sub_confirmation=1" title="Follow IT Creations @YouTube" rel="nofollow noopener noreferrer" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.54 6.42C22.4212 5.94541 22.1793 5.51057 21.8387 5.15941C21.498 4.80824 21.0708 4.55318 20.6 4.42C18.88 4 12 4 12 4C12 4 5.12 4 3.4 4.46C2.92925 4.59318 2.50198 4.84824 2.16135 5.19941C1.82072 5.55057 1.57879 5.98541 1.46 6.46C1.14521 8.20556 0.991235 9.97631 0.999999 11.75C0.988779 13.537 1.14277 15.3213 1.46 17.08C1.59096 17.5398 1.83831 17.9581 2.17814 18.2945C2.51798 18.6308 2.93882 18.8738 3.4 19C5.12 19.46 12 19.46 12 19.46C12 19.46 18.88 19.46 20.6 19C21.0708 18.8668 21.498 18.6118 21.8387 18.2606C22.1793 17.9094 22.4212 17.4746 22.54 17C22.8524 15.2676 23.0063 13.5103 23 11.75C23.0112 9.96295 22.8572 8.1787 22.54 6.42V6.42Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.75 15.02L15.5 11.75L9.75 8.47998V15.02Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</a>
				<a href="https://instagram.com/itcreationsinc?ref=badge" title="Follow IT Creations @Instagram" rel="nofollow noopener noreferrer" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 11.3701C16.1234 12.2023 15.9813 13.0523 15.5938 13.7991C15.2063 14.5459 14.5931 15.1515 13.8416 15.5297C13.0901 15.908 12.2384 16.0397 11.4078 15.906C10.5771 15.7723 9.80976 15.3801 9.21484 14.7852C8.61992 14.1903 8.22773 13.4229 8.09407 12.5923C7.9604 11.7616 8.09207 10.91 8.47033 10.1584C8.84859 9.40691 9.45419 8.7938 10.201 8.4063C10.9478 8.0188 11.7978 7.87665 12.63 8.00006C13.4789 8.12594 14.2649 8.52152 14.8717 9.12836C15.4785 9.73521 15.8741 10.5211 16 11.3701Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.5 6.5H17.51" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</a>
				<a href="https://blog.itcreations.com/" title="Follow IT Creations RSS" rel="nofollow noopener noreferrer" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 11C6.38695 11 8.67613 11.9482 10.364 13.636C12.0518 15.3239 13 17.6131 13 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 4C8.24346 4 12.3131 5.68571 15.3137 8.68629C18.3143 11.6869 20 15.7565 20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 20C5.55228 20 6 19.5523 6 19C6 18.4477 5.55228 18 5 18C4.44772 18 4 18.4477 4 19C4 19.5523 4.44772 20 5 20Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</a>
			</div>
		</div>
	</div>

	<div class="footer-bottom-sect">
		<div class="container">
			<div id="trademarks" class="white-popup mfp-hide">Microsoft, Windows is registered trademarks of Microsoft Corporation. ITCreations.com is an independent distribution channel and is not associated with DELL Inc as well as with HP Inc. Intel&trade; is a registered trademark and Xeon&trade; is a trademark of Intel Corp. or its subsidiaries in the United States and other countries. Dell PowerEdge&trade; is a trademark of Dell Inc. HP&trade; is a trademark of HP Inc. Compaq is a registered trademark of Compaq / HP inc. PowerEdge&trade; is a trademark of Dell Inc. HP Proliant&trade; is a trademark of HP Inc. Dell&trade; is a trademark of Dell Inc.</div>
			<div class="f-footer-wrap">
				<div class="pay-palette">
					<a class="paypal"></a>
					<a class="master-card"></a>
					<a class="discover"></a>
					<a class="american-express"></a>
					<a class="visa"></a>
					<a class="bank"></a>
					<a class="ns-secure" rel="nofollow noopener noreferrer" target="_blank" href="http://seals.nsprotectsafe.com/hg_mouse_click?id=3154&d=www.itcreations.com"></a>
					<a class="godaddy" rel="nofollow noopener noreferrer" target="_blank" href="https://seal.godaddy.com/verifySeal?sealID=5Qw3hJFLhV0rbS0z8PTqxN7g33HHPnP9hbyddNxQYXC4TZzhlQ5LCacffj"></a>
					<a class="rratings" href="https://www.resellerratings.com" onclick="window.open('https://seals.resellerratings.com/landing.php?seller=35001','name','height=760,width=780,scrollbars=1'); return false;">
						<img style='border:none;' src='//seals.resellerratings.com/seal.php?seller=35001' oncontextmenu="alert('Copying Prohibited by Law - ResellerRatings seal is a Trademark of Answers.com'); return false;" /></a>
				</div>
				<hr class="separator" />
				<div class="copyright-left">&copy;
					<span class="rights">{{ "now"|date("Y") }} IT Creations, Inc. All rights reserved.</span>
					<br/><a href="{{ SECURE_SERVER }}terms-conditions.asp">Terms & Conditions</a> | <a href="{{ SECURE_SERVER }}privacy-policy.asp">Privacy Policy</a> | <a href="{{ SECURE_SERVER }}sitemap.asp">Sitemap</a>
				</div>
				<div class="copyright-right">&copy; Microsoft, Windows is a registered trademark of <a href="#trademarks" class="open-popup-link">[+]</a></div>
			</div>
		</div>
	</div>
</footer>
